<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= User.find(@message.sender_id).user_name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @message.receiver_username %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<%= link_to 'Back', inbox_path, class: "btn btn-success" %>  
<%= link_to 'Reply', new_message_path(user_name: User.find(@message.sender_id).user_name), class: "btn btn-danger" %>  
