<p id="notice"><%= notice %></p>

<h1 class="text-center"> <%= @user.first_name %> <%= @user.last_name %></h1>

<div class="row">
	<h3 class="col-md-4 text-center"> Username </h3>
	<h3 class="col-md-4 text-center"> Age </h3>
	<h3 class="col-md-4 text-center"> Email </h3>
</div>

<div class="row padded-small">
	<div class="col-md-4 text-center"> <%= @user.user_name %> </div>
	<div class="col-md-4 text-center"> <%= @user.age %> </div>
	<div class="col-md-4 text-center"> <%= @user.email %> </div>
</div>

<% if session[:user_id] == @user.id %>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning btn-block text-center"%>
		</div>
	</div>
<% end %>

<h2 class="text-center"> My Events </h2>

<div class="row" id="event">
	<% @posts.sort! {|x, y| y.start <=> x.start} %>
	<table class="col-md-12 table-striped" id="events">
	<thead>
		<tr>
			<th> Start Time</th>
			<th> Start Location </th>
			<th> Examine </th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td> <%= post.start.to_formatted_s(:long_ordinal) %> </td>
				<td> <%= post.start_loc %> </td>
				<td> <%= link_to 'View', post_path(post) %> </td>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>