<p id="notice"><%= notice %></p>

<h1 class="text-center"> <%= @user.first_name %> <%= @user.last_name %></h1>

<h3> Username </h3>
<p> <%= @user.user_name %> </p>

<h3> Age </h3>
<p> <%= @user.age %> </p>

<h3> Email: </h3>
<p> <%= @user.email %> </p>

<% if session[:user_id] == @user.id %>
	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning btn-sm"%>
<% end %>