<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Start Date: <%= f.date_select :start_date %>
  </div>
  <div class="field">
    End Date: <%= f.date_select :end_date %>
  </div>
  <div class="field">
    Start Time: <%= f.time_select :start_time %>
  </div>
  <div class="field">
    End Time: <%= f.time_select :end_time %>
  </div>
  <div class="field">
    Start Location: <%= f.text_field :start_loc %>
  </div>
  <div class="field">
    End Location: <%= f.text_field :end_loc %>
  </div>
  <div class="field">
    Description: <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
