<h1 class="text-center">All Posts</h1>

<table class="table-striped" id="posts">
<thead>
  <div class="row">
      <tr>
        <th class="col-md-2 col-md-offset-1 text-center"> Start </h3>
        <th class="col-md-2 text-center"> End </h3>
        <th class="col-md-2 text-center"> Start </h3>
        <th class="col-md-2 text-center"> End  </h3>
        <th class="col-md-2 text-center"> Actions </h3>
      </tr>
  </div>
</thead>
<tbody>
    <% @posts.each do |post| %>
      <div class="row">
        <tr>
          <td class="col-md-2 col-md-offset-1 text-center"> <%= post.start.to_formatted_s(:long_ordinal) %> </div>
          <td class="col-md-2 text-center"> <%= post.end.to_formatted_s(:long_ordinal) %> </div>
          <td class="col-md-2 text-center"> <%= post.start_loc %> </div>
          <td class="col-md-2 text-center"> <%= post.end_loc %> </div>
          <td class="col-md-2 text-center"> 
            <%= link_to 'More Info', post, class: "btn btn-primary btn-xs" %>
        </tr>
      </div>
    <% end %>
</tbody>
</table>

