<p id="notice"><%= notice %></p>

<p>
  <strong>Start Date:</strong>
  <%= @post.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @post.end_date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @post.start_time.to_formatted_s(:time) %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @post.end_time.to_formatted_s(:time) %>
</p>

<p>
  <strong>Start Location:</strong>
  <%= @post.start_loc %>
</p>

<p>
  <strong>End Location:</strong>
  <%= @post.end_loc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Created By: </strong>
  <%= User.find(@post.user_id).user_name %>
</p>

<%= link_to 'Back', posts_path, class: "btn btn-primary" %>

<% if session[:user_id] == @post.user_id %>
	<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
<% end %>

